SUPABASE_HOST=aws-0-eu-central-1.pooler.supabase.com
SUPABASE_PORT=6543
SUPABASE_DB=postgres
SUPABASE_USER=postgres.xxxxxxxxxx
SUPABASE_PASSWORD=yourpasswordhere

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Login credentials for the Streamlit app
LOGIN_USER=admin
LOGIN_PASS=cpcb@2025
